@using System.Web;

@model IEnumerable<SR_MVC.Models.APIs.Period>

@{
    ViewData["Title"] = "Weather";

}


<div class="flex-container">
    <div id="flex-item1">
    <h2>Launch Site Weather</h2>
    <h5>Our spaceships launch from Cape Canaveral, Florida, US. Keep an eye on weather conditions to learn about last-minute cancellations due to winds stronger than 7mph.</h5></div>
    <div id="flex-item2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Temperature)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WindSpeed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WindDirection)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortForecast)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string cleanWindSpeed = new string(item.WindSpeed.Where(Char.IsDigit).ToArray());
                    if (cleanWindSpeed.Length > 1)
                    {
                        //cleanWindSpeed = cleanWindSpeed.Remove(cleanWindSpeed.Length - 0, 1);
                        cleanWindSpeed = cleanWindSpeed.Substring(1);

                    }
                    int intWindSpeed = Int32.Parse(cleanWindSpeed);

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Temperature)
                    </td>
                    @if (intWindSpeed >= 7)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.WindSpeed)
                            <p>
                                <strong>Warning!</strong> No interstellar flights possible with winds exceeding 7mph.
                            </p>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.WindSpeed)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.WindDirection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortForecast)
                    </td>
                </tr>
}
            </tbody>
        </table>
    </div>
</div>



