
@model SR_MVC.Infrastructure.Session.SessionManager

@{
    ViewData["Title"] = "Logged";
    string bookings = @sessionManager.Client.Book_count.ToString();
    string bookCountString = ViewBag.bookCount;
}

<div class="flex-container">
    <div id="flex-item1">
        <h2>
            Welcome, @sessionManager.Client.FirstName @sessionManager.Client.LastName!
        </h2>
    </div>
    <div id="flex-item2">
        @*@bookCountString = bookings;*@
        @if (sessionManager.Client != null)
        {
            <div class="container">
                <p>
                    Your Client ID is @sessionManager.Client.Id and you have booked @bookCountString @(bookCountString == "1" ? "trip" : "trips") with us so far!
                </p>
            </div>

            <a class="mainbtn" href="/Home/Booking">Book a spaceflight!</a>

            if (sessionManager.Client.Is_healthy == false)
            {
                <div class="warning">
                    <h2>Warning!</h2>
                    <p>Health authorities have flagged you as a non-suitable candidate for atmospheres different than Earth's.
                </div>
            };
        }
    </div>
</div>


